

.primaryButton {
    background-color: $yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
        background-color: #0056b3;
    }
}

.btn-default-width{
    min-width: 145px;
}